<html>
<head>
</head>
<body>


<h1>login</h1>


<form action="" method="post" >
    <div>
        <label>账号:</label>
        <input name="username" type="text"  />
    </div>
    <div>
        <label>密码:</label>
        <input name="password" type="password"  />
    </div>
    
    <div><button type="submit" >登录</button></div>

</form>


<!-- <label>username:</label>
<input id="username" name="username" />
<input name="file" type="file" />
<button id="submit" >提交</button> -->

<!-- <script>

username = document.getElementById("username")
submit = document.getElementById("submit")



submit.onclick = ()=>{

    fetch(  "/login" , { method:"post",  headers: {'Content-Type': 'application/json;charset=utf-8' } ,  body:{ "username" :username  }   } )
    .then( res=>console.log(res) )

}

</script> -->

</body>
</html>